<h1>Duelos</h1>

<%= link_to 'Nuevo Duelo', new_duel_path, class: "btn btn-primary mb-3" %>
<%= link_to 'Mis Duelos (clubs/clanes)', my_duels_duels_path, class: "btn btn-outline-dark mb-3 ms-2" %>

<ul>
  <% @duels.each do |duel| %>
    <li><%= link_to "Duelo ##{duel.id}", duel_path(duel) %></li>
  <% end %>
</ul>
