<h1>Elige el equipo para crear el duelo</h1>

<% if @team_options.any? %>
  <ul>
    <% @team_options.each do |membership| %>
      <% team = membership.team %>
      <li>
        <%= link_to team.name, callup_players_duels_path(team_id: team.id), class: "btn btn-primary" %>
        <% if membership.clan.present? %>
          <small>(Clan: <%= membership.clan.name %>)</small>
        <% elsif membership.club.present? %>
          <small>(Club: <%= membership.club.name %>)</small>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No tienes equipos habilitados para crear un duelo.</p>
<% end %>