<turbo-frame id="modal">
  <!-- Meta tag para token de Mapbox (necesario cuando se renderiza sin layout) -->
  <meta name="mapbox-token" content="<%= Rails.application.credentials.dig(:mapbox, :public_token) %>">
  
  <%# Assets de Mapbox para modal sin layout %>
  <%= render 'shared/mapbox_assets' %>
  
  <div class="modal d-block modal-high-z-index" tabindex="-1">
    <div class="modal-backdrop fade show modal-backdrop-high-z-index"></div>
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Crear Arena</h5>
          <button type="button" class="btn-close" data-action="click->modal#close"></button>
        </div>
        <div class="modal-body">
          <%= render "form_quick", arena: @arena %>
        </div>
      </div>
    </div>
  </div>
</turbo-frame>
