<%= turbo_stream.replace "calendar" do %>
  <%= render "shared/calendar_events", reservations: Reservation.all, availabilities: Availability.all %>
<% end %>

<%= turbo_stream.prepend "flash-messages" do %>
  <div class="alert alert-warning" role="alert">
    <i class="fas fa-times-circle me-2"></i>
    Reserva cancelada exitosamente. El evento aparece tachado en el calendario.
  </div>
<% end %>