<h1>Call Up Users for <%= @team.name %></h1>

<%= form_with url: team_callups_path(@team, duel_id: @duel.id), method: :post do |form| %>
  <ul>
    <% @users.each do |user| %>
      <li>
        <%= user.full_name %>
        <%= form.submit "Call Up", name: "user_id", value: user.id %>
      </li>
    <% end %>
  </ul>
<% end %>